@charset "utf-8";

/* フォント */
body {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-style: normal;
  color: #0D1317;
  font-weight: 300;
}

.en {
  font-family: times-new-roman, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* ローディング画面
.loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loadingFadeOut 1s ease 3.6s forwards;
}

.loading-text {
  position: relative;
  width: 150px;
  height: 180px;
  font-size: 36px;
  line-height: 40px;
  writing-mode: vertical-rl;
}

.char,
.line {
  opacity: 0;
  animation: charFadeIn 0.45s ease forwards;
}

.c1 { animation-delay: 0.6s; }
.c2 { animation-delay: 0.8s; }
.c3 { animation-delay: 1.0s; }

.c4 { animation-delay: 1.2s; }
.c5 { animation-delay: 1.4s; }
.c6 { animation-delay: 1.6s; }
.c7 { animation-delay: 1.8s; }

.c8 { animation-delay: 2.0s; }
.c9 { animation-delay: 2.2s; }

.line {
  display: inline-block;
  width: 1px;
  height: 48px;
  background: #111;
  margin-top: 8px;
  animation-delay: 2.4s;
}

@keyframes charFadeIn {
  from {
    opacity: 0;
    transform: translate(10px, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes loadingFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
*/

/* ヘッダー */
header {
  padding: 40px 32px;
}

h1 {
  font-size: 20px;      
}


/* グラデーション背景 */
body {
  margin: 0;
  position: relative;
}

.gradation {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(270deg, #FFFFFF, #87BFEA);
  background-size: 200% 200%;
  animation: Grad 5s ease infinite;
  align-items: center;
  justify-content: center;
}

@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

/* トップページ メインビジュアル */
.main-visual {
  margin-top: 60px;
}

.main-visual img {
  display: block;
  width: 100%;
}

.main-copy {
    position: absolute;
    right: 36px;
    bottom: 36px;
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.main-copy p {
    writing-mode: vertical-rl;
    font-family: hiragino-mincho-pron, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #f5f5f5;
    letter-spacing: 0.3em;
    line-height: 2;
}

.main-copy span {
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: #f5f5f5;
    bottom: 12px;
    left: 24px;
}

/* トップページ コンセプト */
.concept {
  margin-top: 300px;
}

.concept .wrap{
    display: flex;
}

.concept-text {
    width: calc(100% - 300px)
}

.concept-text p {
    font-size: 14px;
    line-height: 3.0;
}

.concept-image {
    width: 300px;
    padding-top: 147px;
}

.concept-image img {
    width: 100%;
}

/* トップページ About me */
.top-about-me {
  margin: 300px auto 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

.about-inner {
  display: flex;
  margin-top: 88px;
  gap: 116px;
}

.about-inner figure {
  width: 300px;
}

.about-text {
  flex: 1;
  padding-top: 125px;
}

.name {
  font-size: 32px;
  margin-bottom: 8px;
}

.name-en {
  font-size: 14px;
  margin-bottom: 40px;
}

.name-desc a {
  font-size: 16px;
  position: relative;
}

.name-desc a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0D1317;
  display: block;
  position: absolute;
  left: calc(100% + 24px);
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(3px);
}

.name-desc p {
  font-size: 14px;
  line-height: 3.0;
  margin-bottom: 80px;
}

.name-text a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.about-me-line {
  border: 1px solid #0D1317;
  width: 100px;
}

/* トップページ Works */
.top-works {
  margin: 300px auto 320px;
}

.top-works h2 {
  margin-bottom: 80px;
}

.top-works-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 100px;
}

.top-works-inner .item {
  width: calc((100% - 100px)/2);
}

.top-works .link {
  text-align: right;
  margin-top: 80px;
}

.top-works .link a {
  position: relative;
}

.top-works .link a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0D1317;
  display: block;
  position: absolute;
  left: calc(100% + 24px);
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(3px);
}


/* トップページ フッター */
footer {
  background-image: url("../img/top-footer-pc.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 32px;
}

footer a {
  display: block;
  background: rgba(13,19,23,0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 46px 0;
}

.copy-right {
  margin-top: 137px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}