@charset "utf-8";

/* フォント */
body {
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-style: normal;
  color: #0D1317;
  font-weight: 300;
}

.en {
  font-family: times-new-roman, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.mincho {
  font-family: hiragino-mincho-pron, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

/* ローディング画面 */
.loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loadingFadeOut 1s ease 3.6s forwards;
}

.loading-text {
  position: relative;
  width: 188px;
  height: 172px;
  font-family: hiragino-mincho-pron, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  writing-mode: vertical-rl;
}

.char,
.line {
  opacity: 0;
  animation: charFadeIn 0.45s ease forwards;
}

.c1 { animation-delay: 0.6s; }
.c2 { animation-delay: 0.8s; }
.c3 { animation-delay: 1.0s; }

.c4 { animation-delay: 1.2s; }
.c5 { animation-delay: 1.4s; }
.c6 { animation-delay: 1.6s; }
.c7 { animation-delay: 1.8s; }

.c8 { animation-delay: 2.0s; }
.c9 { animation-delay: 2.2s; }

.line {
  display: inline-block;
  width: 1px;
  height: 48px;
  background: #111;
  margin-top: 8px;
  animation-delay: 2.4s;
}

@keyframes charFadeIn {
  from {
    opacity: 0;
    transform: translate(10px, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes loadingFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


body {
  padding-top: 164px;
}

/* ヘッダー */
header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 40px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

h1 {
  font-size: 20px;      
}

.nav-button {
  position: relative;
  width: 29px;
  height: 18px;
  cursor: pointer;
}

.nav-button span {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #0D1317;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s;
}

.nav-button span:nth-child(1) {
  transform: translateY(-9px);
}

.nav-button span:nth-child(3) {
  transform: translateY(9px);
}

.nav-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.3s;
}

header:not(.nav-open) .nav-box {
  pointer-events: none;
  opacity: 0;
}

header.nav-open .nav-button span:nth-child(1) {
  transform: translateY(9px);
}

header.nav-open .nav-button span:nth-child(2) {
  transform: translateY(9px);
}

nav {
  width: 216px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  margin-left: auto;
  padding: 104px 0 0 40px;
}

nav a {
  font-family: times-new-roman, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

nav ul li:nth-child(n+2) {
  margin-top: 24px;
}

.site-name {
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 176px;
}

.site-name span {
  display: block;
  transform: rotate(90deg);
  transform-origin: bottom right;
}

/* グラデーション背景 */
body {
  margin: 0;
  position: relative;
}

.gradation {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(270deg, #FFFFFF, #cee3f4);
  background-size: 200% 200%;
  animation: Grad 5s ease infinite;
  align-items: center;
  justify-content: center;
}

@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.main-visual img {
  display: block;
  width: 100%;
}

.main-copy {
    position: absolute;
    right: 36px;
    bottom: 36px;
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.main-copy p {
    writing-mode: vertical-rl;
    font-family: hiragino-mincho-pron, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #f5f5f5;
    letter-spacing: 0.3em;
    line-height: 2;
}

.main-copy span {
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: #f5f5f5;
    bottom: 12px;
    left: 24px;
}

/* トップページ コンセプト */
.concept {
  margin-top: 300px;
}

.concept .wrap{
    display: flex;
}

.concept-text {
    width: calc(100% - 300px)
}

.concept-text p {
    font-size: 14px;
    line-height: 3.0;
}

.concept-image {
    width: 300px;
    padding-top: 147px;
}

.concept-image img {
    width: 100%;
}

/* トップページ About me */
.top-about-me {
  margin: 300px auto 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

.about-inner {
  display: flex;
  margin-top: 88px;
  gap: 116px;
}

.about-inner figure {
  width: 300px;
}

.about-text {
  flex: 1;
  padding-top: 125px;
}

.name {
  font-size: 32px;
  margin-bottom: 8px;
}

.name-en {
  font-size: 14px;
  margin-bottom: 40px;
}

.name-desc a {
  font-size: 16px;
  position: relative;
}

.name-desc a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0D1317;
  display: block;
  position: absolute;
  left: calc(100% + 24px);
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(3px);
}

.name-desc p {
  font-size: 14px;
  line-height: 3.0;
  margin-bottom: 80px;
}

.name-text a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.about-me-line {
  border: 1px solid #0D1317;
  width: 100px;
}

/* トップページ Works */
.top-works {
  margin: 300px auto 320px;
}

.top-works h2 {
  margin-bottom: 80px;
}

.top-works-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 100px;
  max-width: 690px;
  margin: 0 auto;
}

.top-works-inner .item {
  width: calc((100% - 100px)/2);
}

.top-works .link {
  text-align: right;
  margin-top: 80px;
}

.top-works .link a {
  position: relative;
  right: 125px;
}

.top-works .link a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0D1317;
  display: block;
  position: absolute;
  left: calc(100% + 24px);
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(3px);
}


/* トップページ フッター */
footer.top {
  background-image: url("../img/top-footer-pc.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 32px;
}

footer.top a {
  display: block;
  background: rgba(13,19,23,0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 46px 0;
}

.copy-right {
  margin-top: 137px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}


/* About meページ */
.about-me-main{
  width: 100%;
  height: 1200px;
  position: relative;
  background-size: cover;
  background-image: url("../img/about-me-top-pc.webp");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 303px;
}

.about-me-copy {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    position: relative;
}

.about-me-copy p {
  writing-mode: vertical-rl;
  font-family: hiragino-mincho-pron, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #f5f5f5;
  letter-spacing: 0.3em;
  line-height: 2;
  margin: 0 auto;
}

.about-me-copy span {
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #f5f5f5;
  bottom: 12px;
  left: 24px;
}

.about-me-top h2 {
  font-size: 44px;
  text-align: center;
  margin: 100px 0;
}

.about-me-top figure {
  width: 300px;
  margin: 0 auto;
}

.about-me-top .name {
  display: flex;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 0.2em;
  margin-top: 40px;
}

.about-me-top .name-inner {
  writing-mode: vertical-rl;
  position: relative;
}

.about-me-top .name .alpha {
  position: absolute;
  font-size: 12px;
  letter-spacing: 0.1em;
  left: calc(100% + 14px);
}

.about-me-top .birth {
  text-align: center;
  font-size: 14px;
  line-height: 2;
  margin-top: 30px;
}

.about-me-history {
  margin-top: 150px;
}

.about-me-history h3 {
  margin-bottom: 40px;
}

.about-me-history p {
  font-size: 14px;
  line-height: 2;
}

.about-me-history p + p {
  margin-top: 24px;
}

.about-me-history .fig1 {
  margin-top: 200px;
  width: 300px;
}

.about-me-history .fig2 {
  margin-top: 200px;
  width: 400px;
  margin-left: auto;
}

.about-me-feelings {
  margin-top: 200px;
}

.about-me-feelings .wrap {
  box-sizing: border-box;
  padding-left: 500px;
}

.about-me-feelings p{
  font-size: 14px;
  line-height: 2;
  margin-top: 40px;
}

.about-me-feelings p span {
  display: inline-block;
  position: relative;
}

.about-me-feelings p span::after{
  content: "";
  width: 30px;
  height: 1px;
  display: block;
  background-color: #0D1317;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 100%;
}

.about-me-image {
  margin: 400px 0 400px;
}

.skills {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 347px;
}

.skills h3{
  font-size: 22px;
  text-align: center;
  margin-bottom: 32px;
}

.tool-detail {
  font-size: 14px;
  text-align: center;
  margin-bottom: 48px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.skill-item {
    width: 30%;
    margin-bottom: 100px;
    text-align: center;
}

.skill-item figure {
    margin-bottom: 30px;
}

.skill-item figure img {
    width: 100px;
    height: auto;
}

.skill-name {
    margin: 0 0 4px;
    font-size: 14px;
}

.skill-text {
    font-size: 14px;
    line-height: 2;
}

/* Works 一覧ページ */
.works-all .en {
  font-size: 44px;
  padding-top: 214px;
  margin-bottom: 60px;
  text-align: center;
}

.works-area {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11.11%;
  row-gap: 121px;
}

.work-item {
  width: 44.445%;
}

.work-item > a {
  display: block;
  text-align: center;
}

.work-item p {
  text-align: center;
  padding-top: 24px;
  line-height: 1.4;
}

.select-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 205px;
}

/* .ロゴsub-pages__site-title {
  position: absolute;
  font-size: 20px;
  top: 41px;
  left: 32px;
} */



/* Works 各ページ */
.work-detail .en {
    margin: 73px 0 60px;
    text-align: center;
    font-size: 44px;
}

.work-title {
    margin-bottom:32px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

.work-mockup {
    width: 400px;
    margin: 0 auto 35px;
}

.work-mockup img {
    width: 100%;
}

.work-info {
    width: 400px;
    margin: 0 auto 32px;
}

.work-info_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.work-info dt,
.work-info dd {
    width: calc((100% - 66px)/2);
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    box-sizing: border-box;
}

.work-info dt {
    grid-column: 1;
    padding-left: 82px;
}

.work-info_item::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    width: 66px;
    height: 1px;
    background-color: #0D1317;
}

.work-info dd {
    grid-column: 3;
    padding-left: 17px;
}

.work-info-text {
    width: 400px;
    margin: 0 auto 80px;
    font-size: 14px;
    line-height: 2.5;
}

.work-design {
    width: 400px;
    margin: 0 auto;
}

.work-design img {
    width: 100%;
}

.works-nav {
    max-width: 812px;
    margin: 180px auto 262px;
}

.nav-nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    gap: 334px;
}

.nav-nav_item {
    width: 80px;
    text-align: center;
}

.nav-nav_item.disabled {
  opacity: 0;
  pointer-events: none;
}

.nav-nav_link {
    position: relative;
    display: inline-block;
    padding-bottom: 22px;
    color: #111;
    font-size: 12px;
    text-decoration: none;
}

.nav-nav_link-prev::after,
.nav-nav_link-next::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 1px;
    background-color: #111;
}

.nav-nav_link-prev::after {
    left: 50%;
    transform: translateX(-50%);
}

.nav-nav_link-next::after {
    right: 50%;
    transform: translateX(50%);
}

.nav-nav_link-prev::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 2px;
    width: 7px;
    height: 1px;
    background-color: #111;
    transform: rotate(-30deg);
}

.nav-nav_link-next::before {
    content: "";
    position: absolute;
    right: -4px;
    bottom: 2px;
    width: 7px;
    height: 1px;
    background-color: #111;
    transform: rotate(30deg);
}

footer.sub {
    margin-top: 300px;
    padding-bottom: 32px;
    text-align: center;
}

footer.sub .copy-right {
    margin: 0;
    font-size: 14px;
    color: #0D1317;
}